* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
body {
  /* Colors */
  --bg-color: #cc7a7a;
  --text-color: white;
  --book-card-color: white;

  --cancel-btns: #b34747;
  --submit-btns: #7acccc;
}

/* LAYOUT */

.container {
  /* width: 90vw; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /* margin-top: 20px; */
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  min-height: calc(100vh - 90px - 45px);
  height: auto;
  margin: 0 auto;
  align-items: center;
}

footer {
  height: 45px;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: auto;
  /* position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 100px; */
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  margin: 15px;
  border: 3px solid black;
  width: auto;
  height: 155px;
  display: grid;
  grid-template-columns: 90px 120px 90px;
  align-items: center;
  background-color: var(--book-card-color);
}
@media screen and (min-width: 1122px) {
  .books {
    justify-content: center;
  }
}

.book_info_template,
.book_info {
  height: 150px;
}

.book_info_template {
  border-right: 1px solid black;
  padding-right: 10px;
}

.card_third_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

.book_form {
  background-color: var(--bg-color);
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  width: 80%;
  max-width: 500px;
  height: 350px;
}

input[type="text"] {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  height: 30px;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  list-style: none;
  padding-left: 10px;
}
#status {
  color: #7acccc;
  font-weight: bold;
}

/* Buttons */

button.delete,
button.change_status {
  height: 40px;
  width: 60px;
  margin-bottom: 10px;
}
button.delete {
  background-color: var(--cancel-btns);
  color: white;
}
button.change_status {
  background-color: var(--submit-btns);
}

button.add {
  margin-bottom: 35px;
  background-color: var(--submit-btns);
  width: 100px;
  height: 50px;
  padding: 10px;
}
.book_buttons {
  display: flex;
  justify-content: space-between;
}
.book_submit {
  background-color: var(--submit-btns);
  width: 90px;
  height: 50px;
}
.book_cancel {
  background-color: var(--cancel-btns);
  width: 90px;
  height: 50px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
